#python --> 3.11.7
#https://github.com/shahidul034/Chat-with-pdf-using-LLM-langchain-and-streamlit

streamlit
langchain
langchain_community
transformers
streamlit-chat
#conda install -c conda-forge sentencepiece
#sentencepiece 
sentence-transformers
accelerate
torch
pypdf
#conda install faiss-cpu -c pytorch
faiss-cpu  
#PyPDF2
pdfplumber